@page "/"

<PageTitle>Task Manager</PageTitle>

@*<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>
<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>*@


<MudGrid Class="my-3">    
    <MudItem>

        <table>
            <tr>
                <td><h2>Task Manager</h2></td>                
            </tr>
            <tr>
                <td><MudText Class="mt-8">Welcome to Task Manager! <br /><br /> Click <strong>+ New List</strong> in the left nav menu to get started.</MudText></td>
            </tr>
        </table>

        @*<MudText Typo="Typo.h4" GutterBottom="true"></MudText>*@
        
    </MudItem>
</MudGrid>



@*<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>*@
