@page "/"

@inject NavigationManager _navigationManager;

<PageTitle>Task Manager</PageTitle>

<MudGrid Class="my-3">    
    <MudItem>

        <table>
            <tr>
                <td><h2>Task Manager</h2></td>                
            </tr>
            <tr>
                <td><MudText Class="mt-8">Welcome to Task Manager! <br /><br /> Click <strong>+ New List</strong> in the left nav menu to get started.</MudText></td>
            </tr>
        </table>        
        
    </MudItem>
</MudGrid>

@code{

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        if (!authState.User.Identity.IsAuthenticated)
        {
            var uri = new Uri(_navigationManager.Uri);
            _navigationManager.NavigateTo($"identity/account/login?returnUrl={uri.LocalPath}", true);
        }                
    }
}

